name: Test and deploy
on:
  push:
    branches:
      - master
      - production

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Set development env
        if: "!endsWith(github.ref, '/production')"
        run: |
          echo "ENV=development" >> ${GITHUB_ENV}
          echo "AWS_ACCOUNT_ID=${{ secrets.AWS_DEVELOPMENT_ACCOUNT }}" >> ${GITHUB_ENV}
          echo "CUSTOM_DOMAIN=${{ secrets.DEVELOPMENT_DOMAIN }}" >> ${GITHUB_ENV}

      - name: Set production env
        if: "endsWith(github.ref, '/production')"
        run: |
          echo "ENV=production" >> ${GITHUB_ENV}
          echo "AWS_ACCOUNT_ID=${{ secrets.AWS_PRODUCTION_ACCOUNT }}" >> ${GITHUB_ENV}
          echo "CUSTOM_DOMAIN=${{ secrets.PRODUCTION_DOMAIN }}" >> ${GITHUB_ENV}

      - name: Echo mode
        run: |
          echo "Running ${{ env.ENV }} mode (${{ github.ref }})"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          role-duration-seconds: 900

      - name: Deploy
        run: npm run deploy
