name: Test and deploy
on:
  push:
    branches:
      - master
      - production

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Set development env
        if: "!endsWith(github.ref, '/production')"
        run: |
          echo "::set-env name=ENV::development"
          echo "::set-env name=AWS_ACCOUNT_ID::${{ secrets.AWS_DEVELOPMENT_ACCOUNT }}"
          echo "::set-env name=CUSTOM_DOMAIN::${{ secrets.DEVELOPMENT_DOMAIN }}"

      - name: Set production env
        if: "endsWith(github.ref, '/production')"
        run: |
          echo "::set-env name=ENV::production"
          echo "::set-env name=AWS_ACCOUNT_ID::${{ secrets.AWS_PRODUCTION_ACCOUNT }}"
          echo "::set-env name=CUSTOM_DOMAIN::${{ secrets.PRODUCTION_DOMAIN }}"

      - name: Echo mode
        run: |
          echo "Running ${{ env.ENV }} mode (${{ github.ref }})"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_SERVERLESS_ROLE }}
          role-duration-seconds: 900

      - name: Deploy
        run: npm run deploy
